<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

	<span id="pageTitle">Elite Shoppy - Edit Product</span>
	<div layout:fragment="content">

		<div class="page-head_agile_info_w3l">
			<div class="container">
				<h3>
					Edit<span>Product </span>
				</h3>
			</div>
		</div>

		<div class="banner-bootom-w3-agileits">
			<div class="container">
				<div class="alert alert-success hide" id="success"></div>
				<div class="alert alert-danger hide" id="error">Something went wrong!</div>

				<div class="row">
					<form role="form" name="addProductForm" id="addProductForm">
						<input type="hidden" id="productId" name="productId" th:value="${productId}" />
						<div class="form-group col-md-4">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Product Name" required/>
						</div>
						<div class="form-group col-md-2">
							<label for="category">Category</label>
							<select class="form-control" id="category" name="category" required>
								<option value="Clothing">Clothing</option>
								<option value="Wallets">Wallets</option>
								<option value="Footwear">Footwear</option>
								<option value="Watches">Watches</option>
								<option value="Accessories">Accessories</option>
								<option value="Bags">Bags</option>
								<option value="Caps & Hats">Caps & Hats</option>
								<option value="Jewellery">Jewellery</option>
								<option value="Sunglasses">Sunglasses</option>
								<option value="Perfumes">Perfumes</option>
								<option value="Beauty">Beauty</option>
								<option value="Shirts">Shirts</option>
								<option value="Sunglasses">Sunglasses</option>
								<option value="Swimwear">Swimwear</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label for="idealFor">Ideal For</label>
							<select class="form-control" id="idealFor" name="idealFor" required>
								<option value="Men">Men</option>
								<option value="Women">Women</option>
								<option value="Both">Both</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label for="availableQuantity">Available Quantity</label>
							<input type="number" class="form-control" id="availableQuantity" name="availableQuantity" placeholder="Available Quantity"  required/>
						</div>
						<div class="form-group col-md-2">
							<label for="price">Price</label>
							<input type="number" class="form-control" id="price" name="price" placeholder="Price"  required/>
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-md-2">
							<label for="offerPrice">Offer Price</label>
							<input type="number" class="form-control" id="offerPrice" name="offerPrice" placeholder="Offer Price"  required/>
						</div>
						<div class="form-group col-md-10">
							<label for="price">Description</label>
							<textarea class="form-control" id="description" name="description" placeholder="Description" rows="8" required></textarea>
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-md-2">
							<label for="attributes">Attributes</label>
							<select name="attributes" id="attributes" multiple="multiple" class="form-control" required>
							</select>
						</div>
						<div class="col-md-10">
							<table class="table table-hover table-sm with-input" style="margin-top: 22px;">
								<thead class="thead-dark">
									<tr>
										<th scope="col" style="width:12%">Attribute</th>
										<th scope="col">Values</th>
										<th scope="col" style="width:8%" class="text-center">Action</th>
									</tr>
								</thead>
								<tbody id="atrBody">
								</tbody>
							</table>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4">
							<input type="button" class="btn btn-info" value="Update" onclick="updateProduct()" id="updBtn" />
							<input type="reset" class="btn btn-default" value="Reset" />
						</div>
					</form>
					<div class="clearfix"></div><hr />
					<h3 align="center">Product Images</h3><br/><br/>
					<div class="row">
				        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				        	<form enctype="multipart/form-data" id="imgUploadForm">
					        	<div class="alert alert-success hide" id="imgUploadSuccess">Images have been uploaded!</div>
					        	<div class="alert alert-danger hide" id="imgUploadError">Something went wrong! Please try later.</div>
					            <input data-show-upload="false" name="fileImages" id="fileImages" type="file" class="file" multiple="multiple" data-show-preview="true" />
					            <input type="button" value="Upload" class="btn btn-success" onclick="uploadImages()" id="uploadBtn" />
				            </form> 
				        </div>
				    </div>
				    <div class="clearfix"></div><hr />
				    
					<div class="row hide" id="productImages">
						<div class="alert alert-success hide" id="imgdltSuccess">Image has been deleted</div>
					    <div class="alert alert-danger hide" id="imgdltError">Something went wrong! Please try later.</div>
						<div class="connected-carousels">
							<div class="stage">
								<div class="carousel carousel-stage">
									<ul id="fullImage">
									</ul>
								</div>
								<a href="#" class="prev prev-stage"><span>&lsaquo;</span></a> <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
							</div>

							<div class="navigation">
								<a href="#" class="prev prev-navigation">&lsaquo;</a> <a href="#" class="next next-navigation">&rsaquo;</a>
								<div class="carousel carousel-navigation">
									<ul id="thumbnail">
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/app/edit-product.js}"></script>