<header id="home">
	<div class="container">
		<ul>
			<li>
				<a href="#" data-toggle="modal" data-target="#signInModal" class="anonymous"> <i class="fa fa-unlock-alt" aria-hidden="true"></i>
					Sign In
				</a>
				<a th:href="@{/user-account.html}" class="authorized all"> <i class="fa fa-user" aria-hidden="true"></i>
					<span id="authUserName"></span><span class="authorized admin seller" id="userType"></span>
				</a>
			</li>
			<li>
				<a href="#" data-toggle="modal" data-target="#signupModal" class="anonymous"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
					Sign Up
				</a>
				<a href="/signout" class="authorized all" onclick="return signout()"> <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> 
					Sign Out
				</a>
			</li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call: 01234567898</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@eliteshoppy.com</a></li>
		</ul>
	</div>
</header>

<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-4 header-middle">
			<form action="#" method="post">
				<input type="search" name="search" placeholder="Search here..." required="required" /> <input type="submit"
					value=" " />
				<div class="clearfix"></div>
			</form>
		</div>

		<!-- header-bot -->
		<div class="col-md-4 logo_agile">
			<h1>
				<a th:href="@{/index.html}"> <span>E</span>lite Shoppy <i class="fa fa-shopping-bag top_logo_agile_bag"
					aria-hidden="true"></i>
				</a>
			</h1>
		</div>

		<!-- header-bot -->
		<div class="col-md-4 agileits-social top_content">
			<ul class="social-nav model-3d-0 footer-social w3_agile_social">
				<li class="share">Share On :</li>
				<li><a href="#" class="facebook">
						<div class="front">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						<div class="back">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
				</a></li>
				<li><a href="#" class="twitter">
						<div class="front">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>
						<div class="back">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>
				</a></li>
				<li><a href="#" class="instagram">
						<div class="front">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</div>
						<div class="back">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</div>
				</a></li>
				<li><a href="#" class="pinterest">
						<div class="front">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</div>
						<div class="back">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</div>
				</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- Menu Bar -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
							<span class="icon-bar"></span>
						</button>
					</div>
					
					<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav menu__list">
							<li class="active menu__item menu__item--current">
								<a class="menu__link" th:href="@{/index.html}">
									Home <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									Men's wear <span class="caret"></span>
								</a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="agile_inner_drop_nav_info">
										<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
											<a href="/mens.html"><img src="images/top2.jpg" alt=" " /></a>
										</div>
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/mens.html">Clothing</a></li>
												<li><a href="/mens.html">Wallets</a></li>
												<li><a href="/mens.html">Footwear</a></li>
												<li><a href="/mens.html">Watches</a></li>
												<li><a href="/mens.html">Accessories</a></li>
												<li><a href="/mens.html">Bags</a></li>
												<li><a href="/mens.html">Caps & Hats</a></li>
											</ul>
										</div>
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/mens.html">Jewellery</a></li>
												<li><a href="/mens.html">Sunglasses</a></li>
												<li><a href="/mens.html">Perfumes</a></li>
												<li><a href="/mens.html">Beauty</a></li>
												<li><a href="/mens.html">Shirts</a></li>
												<li><a href="/mens.html">Sunglasses</a></li>
												<li><a href="/mens.html">Swimwear</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul></li>
							<li class="dropdown menu__item"><a href="#"
								class="dropdown-toggle menu__link" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Women's wear <span class="caret"></span>
							</a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="agile_inner_drop_nav_info">
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/womens.html">Clothing</a></li>
												<li><a href="/womens.html">Wallets</a></li>
												<li><a href="/womens.html">Footwear</a></li>
												<li><a href="/womens.html">Watches</a></li>
												<li><a href="/womens.html">Accessories</a></li>
												<li><a href="/womens.html">Bags</a></li>
												<li><a href="/womens.html">Caps & Hats</a></li>
											</ul>
										</div>
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/womens.html">Jewellery</a></li>
												<li><a href="/womens.html">Sunglasses</a></li>
												<li><a href="/womens.html">Perfumes</a></li>
												<li><a href="/womens.html">Beauty</a></li>
												<li><a href="/womens.html">Shirts</a></li>
												<li><a href="/womens.html">Sunglasses</a></li>
												<li><a href="/womens.html">Swimwear</a></li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img multi-gd-text ">
											<a th:href="@{/womens.html}"><img src="/images/top1.jpg" alt=" " /></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class=" menu__item authorized seller admin"><a class="menu__link" th:href="@{/product.html}">Products</a></li>
							<li class=" menu__item authorized admin"><a class="menu__link" th:href="@{/attribute.html}">Attributes</a></li>
							<li class=" menu__item"><a class="menu__link" th:href="@{/about.html}">About</a></li>
							<li class=" menu__item"><a class="menu__link" th:href="@{/contact.html}">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
				<form action="#" method="post" class="last">
					<input type="hidden" name="cmd" value="_cart"> <input
						type="hidden" name="display" value="1">
					<button class="w3view-cart" type="submit" name="submit" value="">
						<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- Sign in Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="col-md-8 modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">
						Sign In <span>Now</span>
					</h3>
					<form name="signInForm" id="signInForm">
						<span class="alert alert-danger alert-xs error error-xs" id="loginError">Error occured</span><br>
						<div class="clearfix"></div>
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="email" required="required"> <label>Email</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="password" name="password" required="required"> <label>Password</label>
							<span></span>
						</div>
						<input type="button" value="Sign In" id="signinbtn" onclick="signin()">
					</form>
					<ul
						class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
						<li><a href="#" class="facebook">
								<div class="front">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</div>
						</a></li>
						<li><a href="#" class="twitter">
								<div class="front">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</div>
						</a></li>
						<li><a href="#" class="instagram">
								<div class="front">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</div>
						</a></li>
						<li><a href="#" class="pinterest">
								<div class="front">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</div>
						</a></li>
					</ul>
					<div class="clearfix"></div>
					<p>
						<a href="#" data-toggle="modal" data-target="#signupModal">
							Don't have an account?</a>
					</p>

				</div>
				<div class="col-md-4 modal_body_right modal_body_right1">
					<img src="images/log_pic.jpg" alt=" " />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<!-- Sign up modal-->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="col-md-8 modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">
						Sign Up <span>Now</span>
					</h3>
					<form action="#" method="post" name="signUpForm" id="signUpForm">
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="fullName" required="required" pattern="\s*(\S\s*){6,}" title="Name should have at least 6 characters"> <label>Name</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="email" name="email" required="required" id="signupUsername"> <label>Email</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="password" name="password" id="signuppassword" required="required" pattern=".{6,}" title="Password should have at least 6 characters and both passwords must match."> <label>Password</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="password" name="password1" required>
							<label>Confirm Password</label> <span></span>
						</div>
						<input type="button" value="Sign Up" id="signupbtn" onclick="signup()">
					</form>
					<ul
						class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
						<li><a href="#" class="facebook">
								<div class="front">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</div>
						</a></li>
						<li><a href="#" class="twitter">
								<div class="front">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</div>
						</a></li>
						<li><a href="#" class="instagram">
								<div class="front">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</div>
						</a></li>
						<li><a href="#" class="pinterest">
								<div class="front">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</div>
								<div class="back">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</div>
						</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 modal_body_right modal_body_right1">
					<img src="images/log_pic.jpg" alt=" " />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>