.anonymous, .authorized {
	display: none;
}

.alert-xs {
	font-size: 0.8em;
	padding: 8px;
}

.error-xs {
	font-weight: normal;
	margin-bottom: 7px;
	display: block;
}

.error, .success {
	display: none;
}

.searchinput {
	background-image: url('../images/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 10px 20px 10px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

form label {
	font-size: 95%;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table-sm th, .table-sm td {
	padding: 2px !important;
	font-size: 0.8em !important;
}

.table-md th, .table-md td {
	padding: 6px !important;
	font-size: 0.82em !important;
}


table.with-input .bootstrap-tagsinput, table.with-input input[type='text'] {
	width: 100%;
}

.unboardered {
	border: none;
	margin: 0px;
}

.color-red {
	color: #ff0000;
}

.searchinput.input-sm {
    background-size: 17px;
    background-position: 7px 6px;
    font-size: 14px;
    padding: 9px 20px 10px 32px;
}

.img-del {
	position: sticky;
	float: right;
	top: 10px;
	right: 10px;
	color: #e50b0b;
	font-size: 25px;
}
.flex-control-thumbs img {
	width: 110px;
	height: 146px !Important;
}